/**
 * Body CSS
 */
html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#landing-page {
  height: 100vh;
  background-color: #98A6D4;
}
.landing-page-top {
  margin-top: -21px;
  background-image: url('./images/landingpage.jpg');
  height: 65vh;
  width: 100vw;
  background-size: cover !important;
}

/**
 * Header CSS
 */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}


/**
 * Content CSS
 */
#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  margin-bottom: -100px;
  padding-bottom: 100px;
}


/**
 * Footer CSS
 */
footer {
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mui--text-display3 {
    color: white;
}

#landing-page-info {
  font-family: 'Raleway';
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  margin: 0 auto !important;
  width: 65%;
  padding-right: 15px;
  padding-left: 15px;
}
