
.splitPane {
    overflow: initial;
}

.container {
    margin: 0 50px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #C6DDF0;
    color: black;
}

.user-page * {
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.project-selection {
    margin-top: 5%;
}

.project-selection * {
    margin-top: 1%
}

.enter-btn {
    display: block;
}

.projects-option {
    width: 20%;
    margin-left: 40%;
}

.logout-div {
    margin-right: 3%;
    margin-top: 3%;
}

#react-quill {
    height: 95vh;
    width: 100%;
    background-color: white;
}

.project-center, .ql-editor, .ql-container {
    height: 90vh;
}

.editor-panel {
    height: 100vh;
}

#binder-list {
    list-style: none
}

.binder-item {
    border: none;
    background-color: transparent
}

.current-atom {
    background-color: #EAF6FF;
}

.panel-head {
    display: inline;
    color: white;
}

.panel-heading {
    background-color: #98A6D4;
}

.add-atom {
    color: white;
    float: right;
    margin-right: 2%;
    margin-top: auto;
    font-size: 150% !important;
    margin-bottom: auto;
}

.delete-atom {
    color: white;
    float: right;
    margin-right: 2%;
    margin-top: auto;
    font-size: 150% !important;
    margin-bottom: auto;
}

.collab-list {
    display: inline !important;
}

.delete-collab {
    margin-right: 35%;
    float: right;
}

h2, h3 {
    font-family: 'Raleway';
}

.toolbar-list li {
    font-family: 'Raleway';
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.toolbar-select {
    color: black;
}

#app-title {
    font-family: 'Satisfy';
    font-size: 75px !important;
    color: white;
}

nav.navbar {
    background-color: #564D80;
}

#navbar-title {
    font-family: 'Satisfy';
    color: white;
    text-transform: none;
    font-size: 25px;
}

#toolbar-label {
    padding-right: 5px;
}

textarea {
    width: 100%;
}

.splitPane {
    position: relative !important;
    overflow: hidden;
    width: 95%;
}

.float-right {
    float: right;
}

.inline-form {
    float: left;
}

.block {
    display: block;
}

del {
    background: #ffe6e6;
    text-decoration: line-through
}

ins {
    background: #e6ffe6;
}
