.container {
    margin: 0 50px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #f2edcb;
    color: black;
}

#react-quill {
    height: 80vh;
    width: 48vw;
    background-color: white;
}

#binder-list {
    list-style: none
}

.binder-item {
    border: none;
    background-color: transparent
}

.current-atom {
    background-color: lightblue;
}