.container {
    margin: 0 50px;
}

body {
    background-color: #f2edcb;
}

#react-quill {
    height: 80vh;
    width: 48vw;
}

#binder-list {
    list-style: none
}

.binder-item {
    border: none;
    background-color: transparent
}